header {
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
    background-color: #3bb143;
    z-index: 4;
}

.logo {
    cursor: pointer;
    margin: auto 0 0 1.5em;
    width: 12rem;
    height: 100%;
}

.menu-bars {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-bars div {
    margin: 0.3em 0;
    width: 2em;
    border: 1px solid #fff;
}

.change .bar1 {
    transition: all 0.3s;
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    transition: all 0.3s;
    opacity: 0;
}

.change .bar3 {
    transition: all 0.3s;
    transform: rotate(45deg) translate(-10px, -8px);
}

#searchBox {
    margin: auto 0;
    width: 35%;
    height: 3em;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
}

#searchBox:focus {
    transition: all 0.2s;
    box-shadow: 0px 0px 5px 2px #aeaeff;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #adadad;
    letter-spacing: 1px;
}

.user-data-container {
    margin: auto 0;
    border-radius: 5px;
    z-index: 1;
}

.user-data-container:hover .login {
    display: flex;
}

#avatar {
    margin: auto 0.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

#user-name {
    margin: auto 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

#shopping-data {
    position: relative;
}

#shopping-bag {
    position: relative;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
}

#items-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.login {
    display: none;
    position: absolute;
    top: 85%;
    left: 86%;
    padding: 1rem;
    background-color: #3bb143;
    border-radius: 0 0 5px 5px;
    font-family: "Roboto", sans-serif;
}

.login h4 {
    margin: 1.5rem 0 1rem 0;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

#userMail,
#userPass {
    display: block;
    margin: 1rem auto;
    height: 2rem;
    outline: none;
    border: none;
    padding: 1rem;
    color: rgb(58, 58, 58);
    border-radius: 2px;
}

.login p {
    font-size: 14px;
    color: #fff;
}

#btnIngresar {
    margin: 1em 0;
    cursor: pointer;
    width: 60%;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
}

#btnIngresar:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    padding: 0.5em 0 0 1em;
    background: #3bb143;
    border-radius: 0 0 4px 4px;
    animation: FadeIn .5s 1;
}

.menu li {
    margin: 1em 0;
}

.menu li:hover a {
    transition: all .4s;
    color: #000;
    margin-left: 0.5em;
}

.menu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #fff;
}
