@media only screen and (max-width: 960px) {
    header {
        width: 100%;
    }
    header .wrapper {
        width: 90%;
    }
    #searchBox {
        display: none;
    }
    #user-name {
        display: none;
    }
    .login {
        position: absolute;
        top: 85%;
        left: 35%;
    }
    .slider-container {
        display: none;
    }
    h2 {
        font-size: 1em;
    }
    .arrows {
        display: none;
    }
    #ofertas {
        border: 1px solid black;
    }
    #content-ofertas,
    #content-mas-vendidos {
        flex-direction: column;
        width: 100%;
        border: 1px solid blue;
    }
}