@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import 'header';
@import 'footer';
@import 'mobile';
@import 'modal';

@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/simplifica.ttf');
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/palatino.ttf');
}

.flex { display: flex; }
.fr { flex-direction: row; }
.fc { flex-direction: column; }
.center { margin: 0 auto; }
.center-v { margin: auto 0; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    position: relative;
    background-color: #ececec;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    width: 70%;
}

.container {
    position: relative;
}

.slider-container {
    /*REVISAR SI NO SE PUEDE ELIMINAR PERFECTAMENTE...*/
    position: relative;
    width: 100%;
    height: 31.25rem;
}

.slider-item {
    animation: FadeIn 1s 1;
}

.slider-circles {
    position: absolute;
    bottom: 10%;
    right: 14%;
    justify-content: space-between;
}

.slider-circles div {
    margin: 0 1rem;
    cursor: pointer;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid white;
    border-radius: 50%;
}

.slider-circles div:first-child {
    background-color: #fff;
}

#ofertas, #masvendidos {
    position: relative;
    margin: 5rem auto;
    width: 100%;
    text-align: center;
}

#arrow-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
}

#arrow-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 1;
}

.titulo {
    margin-bottom: 3rem;
    text-align: center;
    display: flex;
}

.line {
    margin: auto 0;
    height: 0rem;
    width: 40%;
}

h2 {
    margin: 0 auto;
    font-family: 'Simplifica';
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #9b9999;
}

.card {
    margin: 5rem 1rem;
    position: relative;
    width: 17rem;
    height: 28rem;
    border-radius: 5px;
    background-color: #fff;
    animation: FadeIn 1s 1;
    border: 1px solid lightgray;
}

.card .container {
    padding: 1em;
    width: 100%;
    height: 40%;
}

.separator {
    border: 1px solid lightgrey;
}

.card:hover {
    transition: all .3s;
    cursor: pointer;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 15px 0px rgba(112, 112, 124, 0.75);
}

.card:hover .product-content {
    display: block;
}

.product-thumb {
    width: 16.75rem;
    height: 16.75rem;
}

.product-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.product-brand {
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .5);
    font-size: 0.9em;
}

.product-price {
    margin-top: 1em;
    font-family: 'Palatino';
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 2px;
}

.product-content {
    display: none;
    position: absolute;
    right: 8%;
    bottom: 43%;
    max-width: 40%;
    font-family: 'Inconsolata', monospace;
    font-size: 0.9em;
    color: #fff;
    padding: 0.5rem 1rem;
    background-color: #000;
    opacity: .8;
    border-radius: 2px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MoveDown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 200px;
    }
}