<div class="categories">
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Lorem ipsum</span>
    </div>
</div>