<footer>
  <div class="wrapper">
    <div class="info">
      <h5>Nosotros</h5>
        <li>Sucursales</li>
        <li>Historia</li>
        <li>Visión </li>
    </div>
    <hr class="vertical-line">
    <div class="info">
        <h5>Contacto</h5>
        <li>Av. Magallanes 3562</li>
        <li>Tel: 2568 9520</li>
    </div>
    <hr class="vertical-line">
    <div class="info">
        <h5>Suscribete</h5>
        <input type="text" class="newsletter" placeholder="Suscribete al newsletter">
        <div class="social-media">
          <img src="/img/logo-facebook.svg" alt="facebook">
          <img src="/img/logo-twitter.svg" alt="twitter">
          <img src="/img/logo-instagram.svg" alt="instagram">
        </div>
    </div>
  </div>  
</footer>