<header>
    <div class="wrapper flex fr">
        <div class="container flex fr">
            <div class="burger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a href="/"><img class="logo" src="./img/logo.svg"></a>
        </div>
        <div style="margin: auto auto; position: relative; width: 50%; height: 2.5em; text-align: center;">
            <input type="search" name="" id="searchBox" placeholder="Buscar productos...">
            <div class="suggestions"></div>
        </div>

        <div class="user-data-container flex fr">
            <button class="btn-login">Ingresar</button>
            <a href="/carrito">
                <div id="shopping-data">
                    <img src="/img/shopping-bag.svg" alt="shopping" id="shopping-bag">
                    <p id="items-counter">0</p></img>
                </div>
            </a>
        </div>
        <nav class="menu">
            <li><a href="categorias/Desayuno">Desayuno</a></li>
            <li><a href="categorias/Congelados">Congelados</a></li>
            <li><a href="categorias/Leches vegetales">Leches vegetales</a></li>
            <li><a href="categorias/Postres">Postres</a></li>
        </nav>
    </div>
</header>