<header>
    <div class="wrapper">
        <div class="container">
            <div class="burger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a href="/" class="link">
                <div class="logo">
                    <img class="logo-img" src="../img/logo.svg">
                    <div>
                        <p>EVERGREEN</p>
                        <p>VEGAN STORE</p>
                    </div>
                </div>
            </a>
        </div>
        <nav class="menu">
            <li><a href="/categorias/Granos y semillas">Granos y semillas</a></li>
            <li><a href="/categorias/Bebidas">Bebidas</a></li>
            <li><a href="/categorias/Aderezos">Aderezos</a></li>
            <li><a href="/categorias/Leches vegetales">Leches vegetales</a></li>
            <li><a href="/categorias/Quesos y fiambres veganos">Quesos y fiambres veganos</a></li>
            <li><a href="/categorias/Congelados">Congelados</a></li>
            <li><a href="/categorias/Cuidado personal">Cuidado personal</a></li>
        </nav>
        <div style="margin: auto auto; position: relative; width: 50%; height: 2.5em; text-align: center;">
            <input type="search" id="searchBox" placeholder="Buscar productos...">
            <div class="suggestions"></div>
        </div>
        <div class="user-data-container">
            <button class="btn-login">Ingresar</button>
            <a href="/carrito">
                <div id="shopping-data">
                    <img src="/img/shopping-bag.svg" alt="shopping" id="shopping-bag">
                    <p id="items-counter">0</p></img>
                </div>
            </a>
        </div>
    </div>
</header>