<header>
    <div class="wrapper">
        <div class="container">
            <a href="/" class="link">
                <div class="logo">
                    <img class="logo-img" src="../img/logo.svg">
                    <div>
                        <p>EVERGREEN</p>
                        <p>VEGAN STORE</p>
                    </div>
                </div>
            </a>
            <div class="menu-container">
                <div class="burger">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <p>Productos</p>
                <nav class="menu">
                    <li><a href="/categorias/Granos y semillas">Granos y semillas</a></li>
                    <li><a href="/categorias/Bebidas">Bebidas</a></li>
                    <li><a href="/categorias/Aderezos">Aderezos</a></li>
                    <li><a href="/categorias/Leches vegetales">Leches vegetales</a></li>
                    <li><a href="/categorias/Quesos y fiambres veganos">Quesos y fiambres veganos</a></li>
                    <li><a href="/categorias/Congelados">Congelados</a></li>
                    <li><a href="/categorias/Cuidado personal">Cuidado personal</a></li>
                </nav>
            </div>
        </div>
        <form class="formSearch" action="/search" method="GET">
            <input 
                type="text" 
                id="searchBox" 
                placeholder="Buscar productos..." 
                name="search_query"
                autocomplete="off"
            >
            <div class="suggestions"></div>
        </form>
        <div class="user-data-container">
            <button class="btn-login">Ingresar</button>
            <a href="/carrito">
                <div id="shopping-data">
                    <img src="/img/shopping-bag.svg" alt="shopping" id="shopping-bag">
                    <p id="items-counter">0</p></img>
                </div>
            </a>
        </div>
    </div>
    <script src="/js/Login.js"></script>
</header>