<div class="loginModal">
    <h2>Login</h2>
    <div style="display: flex; flex-direction: column;">
        <label for="user-mail">Correo electrónico:</label>
        <input type="email" class="user-mail" name="user-mail">
    </div>
    <div style="display: flex; flex-direction: column;">
        <label for="user-pass">Contraseña:</label>
        <input type="password" class="user-pass" name="user-pass">
    </div>
    <div style="display: flex; align-items: center;">
        <input type="checkbox">
        <label for="checkbox">Recordarme</label>
    </div>
    <input type="submit" value="Ingresar">
</div>