<form action="/login" method="POST" class="loginModal">
    <h2>Login</h2>
    <img src="../img/icon-close.svg" alt="icon" class="icon-close">
    <div style="display: flex; flex-direction: column;">
        <label for="user-mail">Correo electrónico:</label>
        <input 
            type="email" 
            class="usermail" 
            name="usermail"
            required
        >
    </div>
    <div style="display: flex; flex-direction: column;">
        <label for="user-pass">Contraseña:</label>
        <input 
            type="password" 
            class="userpass" 
            name="userpass"
            required
        >
    </div>
    <div style="display: flex; align-items: center;">
        <input type="checkbox">
        <label for="checkbox">Recordarme</label>
    </div>
    <div style="position: relative; width: 100%;">
        <input 
        type="submit" 
        value="INGRESAR"
        class="btnIngresar"
        >
        <div class="loader"></div>
    </div>
    
</form>