<section class="modal">
    <div style="position: relative;">
        <p class="product-content">390 mL</p>
        <img src="" alt="thumb" class="thumb-big">
    </div>
    <div class="product-info">
        <h1></h1>
        <p class="product-brand"></p>
        <p class="price"></p>
        <div class="buy-panel">
            <p>Cantidad: </p>
            <input type="text" value="1" id="cantidad" maxlength="2" disabled>
            <div class="buy-controls">
                <img src="/img/plus.svg" alt="plus" id="plus">
                <img src="/img/minus.svg" alt="minus" id="minus">
            </div>
            <button class="button" id="agregar">Agregar</button>
        </div>
    </div>
    <img src="/img/icon-close.svg" alt="icon-close" id="icon-close" class="icon-close">
</section>