<div class="banner-container cards">
    <img src="/img/banner8.jpg" alt="banner">
    <div>
        <img src="/img/banner9.jpg" alt="banner">
        <img src="/img/banner10.jpg" alt="banner">
    </div>
</div>