<div class="categories">
    <a href="/categorias/granos y semillas">
        <img src="/img/icon_granos.svg" alt="">
        <span>Granos y semillas</span>
    </a>
    <a href="/categorias/bebidas">
        <img src="/img/icon_bebidas.svg" alt="">
        <span>Bebidas</span>
    </a>
    <a href="/categorias/aderezos">
        <img src="/img/icon_aderezos.svg" alt="">
        <span>Aderezos</span>
    </a>
    <a href="/categorias/leches vegetales">
        <img src="/img/icon_milk.svg" alt="">
        <span>Leches vegetales</span>
    </a>
    <a href="/categorias/quesos y fiambres veganos">
        <img src="/img/icon_cheese.svg" alt="">
        <span>Quesos y fiambres veganos</span>
    </a>
    <a href="/categorias/congelados">
        <img src="/img/icon_congelados.svg" alt="">
        <span>Congelados</span>
    </a>
    <a href="/categorias/cuidado personal">
        <img src="/img/icon_cuidado.svg" alt="">
        <span>Cuidado personal</span>
    </a>
</div>