<footer>
  <div class="wrapper">
    <div class="info">
      <h5>Nosotros</h5>
      <li>Nuestras sucursales</li>
      <li>Historia</li>
      <li>Visión </li>
    </div>
    <div class="info">
      <h5>Contacto</h5>
      <li>Av. Magallanes 3562</li>
      <li>Tel: 2568 9520</li>
      <li>WhatsApp: 098 325 681</li>
    </div>
    <div class="info">
      <h5>Información</h5>
      <li>Acerca de los envíos</li>
      <li>Tasas y comisiones</li>
      <li>Términos y condiciones</li>
      <li>Aviso de privacidad</li>
    </div>
    <div class="info">
      <h5>Suscríbete a las novedades</h5>
      <div class="newsletter-container">
        <input type="text" placeholder="Ingresa tu E-Mail">
        <input type="submit" value="Enviar">
      </div>
      <div class="social-media">
        <img src="/img/logo-facebook.svg" alt="facebook">
        <img src="/img/logo-twitter.svg" alt="twitter">
        <img src="/img/logo-instagram.svg" alt="instagram">
      </div>
      <div class="payments">
        <p>Medios de pago</p>
        <div>
          <img src="/img/logo-master.png" alt="payments">
          <img src="/img/logo-mercadopago.jpg" alt="payments">
          <img src="/img/logo-oca.png" alt="payments">
          <img src="/img/logo-visa.png" alt="payments">
        </div>
      </div>
    </div>
  </div>
</footer>