:root {
  --light-blue: #38A6C7;
  --green: #5EC738;
  --orange: #C89319;
  --light-gray: #f2f2f2;
  --mid-gray: #868686;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Calibri', sans-serif;
}

::placeholder {
  color: var(--mid-gray);
}
 
a { color: #000; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

header {
  position: relative;
  width: 100%;
  height: 100px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .15);
  background: #fff;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: header-sticky .4s 1;
}

.sticky + .content {
  padding-top: 3.75em;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
}

.logo-container { display: flex; }

.logo {
  display: flex;
  cursor: pointer;
}

.logo img {
  width: 4em;
  height: 4em;
}

.logo span {
  font-weight: bold;
  margin: auto 0 auto .5em;
  font-size: 1.4rem;
  line-height: 1em;
  max-width: 3.5em;
  color: var(--orange);
}

.menu-button {
  margin: auto 0 auto 2em;
  display: flex;
  padding: 0.4em 0.8em;
  border: 2px solid transparent;
  cursor: pointer;
}

.menu-button:hover {
  transition: all .3s;
  border-radius: 5px;
  border: 2px solid var(--green);
}

.menu-button span {
  margin: auto 0;
  font-size: 1rem;
}

.burger {
  margin-right: .75em;
}

.burger div {
  margin: .3em 0;
  width: 1.2em;
  border: 1px solid #000;
}

.searchbox-container {
  position: relative;
  margin-right: 6em;
  position: relative;
  display: flex;
  width: 50%;
  height: 3em;
}

.searchBox {
  position: relative;
  margin: auto 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1em;
  background: #fff;
  color: #000;
  border-radius: .25em;
  font-size: 1rem;
  border: 1px solid lightgray;
}

.button-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5em;
  height: 100%;
  background: var(--green);
  border-radius: 0 .25em .25em 0;
  cursor: pointer;
}

.searchBox:focus {
  transition: all .2s;
  border: 1px solid var(--green);
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1em;
  cursor: pointer;
}

.search-suggestions {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid var(--light-gray);
  color: #fff;
  border-radius: 0 0 .3em .3em;
}

.search-suggestions p {
  margin: 0;
  font-size: 1.1rem;
  padding: 1em 1.2em;
  width: 100%;
}

.search-suggestions p:hover {
  background: rgb(220, 240, 220);
}

.search-suggestions p:last-child {
  border-radius: 0 0 .3em .3em;
}

.user-panel {
  display: flex;
  cursor: pointer;
}

.user-panel a {
  position: relative;
  margin: 0 .3em;
  text-align: center;
  font-size: 0.85rem;
  padding: .3em;
}

.login-button img, 
.cart img {
  height: 1.6em;
}

.items-counter {
  position: absolute;
  top: 0;
  left: 40px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  border-radius: 50%;
}

.items-counter span {
  text-align: center;
}

.categories-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%;
  background: #fff;
  border-radius: 0 0 .3em .3em;
  padding: .75em 0;
  z-index: 1;
  animation: menu-slide-down .2s 1;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.24);}

.categories-menu li {
  position: relative;
  width: 100%;
  padding: .9em 4em .9em 2em;
  border-left: 5px solid transparent;
}

.categories-menu li:hover {
  transition: all .3s;
  border-left: 5px solid var(--light-blue);
  background: var(--green);
}

.categories-menu a {
  width: 100%;
  line-height: 100%;
}

.categories-menu li:hover a {
  color: #fff;
}

.login-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: .4em;
  z-index: 2;
  animation: fade-in .4s 1, move-down .4s 1;
}

.login-window h2 {
  margin-top: 0;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: .5em;
  color: #fff;
  border-radius: .3em .3em 0 0;
  background: var(--orange);
}

.login-window .content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 .3em .3em;
}

.login-window label,
.register-form label {
  margin-top: 2em;
}

.register-form label {
  color: var(--mid-gray);
}

.login-window input[type="email"],
.login-window input[type="password"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="text"] {
  margin-top: 1rem;
  padding: .8em;
  height: 3em;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3em;
  outline: none;
}

.login-window input[type="checkbox"], 
.register-form input[type="checkbox"] {
  margin-right: .75em;
  width: 1.5em;
  height: 1.5em;
}

.btn-login {
  margin-top: 2em;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2px;
  background: var(--green);
  cursor: pointer;
}

.btn-login:hover {
  background: var(--orange);
}

.login-window a,
.register-form a {
  color: var(--light-blue);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.slider-item {
  width: 100%;
  height: 100%;
  background: lightgray;
  animation: fade-in 1s 1;
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 68%;
  display: flex;
  flex-direction: column;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.controls div {
  margin: 0 .5em;
  cursor: pointer;
  width: .75em;
  height: .75em;
  border: 2px solid white;
  border-radius: 50%;
}

.controls div:first-child {
  background-color: #fff;
}

.msg-carrito {
  display: none;
  margin: 2em auto;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3em;
}

.msg {
  display: none;
  position: fixed;
  top: 2%;
  right: 5%;
  padding: 1em;
  background: var(--green);
  text-align: center;
  border-radius: .5em;
  color: #fff;
  animation: msg 5s 1;
  z-index: 1;
}

.msg img {
  margin-right: .5em;
  width: 1em;
}

.categories {
  position: relative;
  margin: 3em auto 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.categories a {
  background: var(--green);
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  color: #fff;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

.categories span {
  margin-top: .5em;
}

.categories a:hover {
  transition: all .2s;
  transform: translateY(-10px);
}

.categories img {
  margin: 0 auto;
  height: 3em;
}

.ofertas, 
.populares {
  position: relative;
  margin: 2em auto;
  width: 100%;
  text-align: center;
}

.banner-container {
  margin: 1.5em auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-container img {
  width: 30%;
  border-radius: .3em;
  cursor: pointer;
}

.banner-container div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-container div img {
  width: 100%;
}

h2 {
  margin: 1em 0 0 0;
  text-align: left;
  font-weight: 300;
  font-size: 1.75rem;
}

.message {
  display: none;
  margin-top: 1em;
  color: rgba(0, 0, 0, .7);
}

.card-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 12em));
}

.arrows {
  cursor: pointer;
  position: absolute;
  width: .75em;
  top: 50%;
  z-index: 1;
}

.arrows[name="left"] { left: -5%; }
.arrows[name="right"] { right: -5%; }

.products-container {
  display: flex;
  justify-content: space-between;
}

.card {
  display: none;
  margin: 2em 0 0 0;
  position: relative;
  width: 12em;
  min-height: 15em;
  border-radius: .3em;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0, .2);
  animation: FadeIn 1s 1;
  cursor: pointer;
}

.card:hover {
  transition: all .3s;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0, .15);
}

.populares .card {
  display: block;
}

.product-thumb {
  margin-top: 0.5em;
  max-width: 10em;
  height: 8em;
  z-index: -2;
  background: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.card .container {
  border-top: 1px solid var(--light-gray);
  padding: 1em;
  width: 100%;
  height: 50%;
  flex-direction: column;
  text-align: left;
}

.product-name {
  color: var(--mid-gray);
  font-weight: 400;
  font-size: 1.1em;
}

.product-price {
  margin-bottom: .5em;
  font-size: 18px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw;
  background-color: #fff;
  display: none;
  border-radius: .5em;
  z-index: 2;
  animation: fade-in .4s 1, move-down .4s 1;
}

.modal > div {
  position: relative;
}

.thumb-big {
  width: 21em;
  height: 21em;
  margin: auto 0;
  border: 1px solid var(--light-gray);
  border-radius: .5em;
}

.product-info {
  position: relative;
  margin: auto 0;
  margin-left: 2rem;
  width: 21em;
  height: 21em;
}

.product-info h1 {
  font-size: 1.8rem;
  font-weight: 300;
}

.price {
  margin-top: 2em;
  font-size: 2.2em;
}

.buy-panel {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 1rem;
}

.buy-panel p {
  font-size: 1.1em;
  color: var(--mid-gray);
  margin: auto 1em auto 0;
}

.buy-controls {
  margin: auto 0;
  width: 6em;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: .5em;
  border: 1px solid var(--mid-gray);
  border-radius: 3px;
  text-align: center;
  cursor: default;
}

.buy-controls div {
  position: relative;
  padding: .5em;
  background: var(--light-gray);
  cursor: pointer;
  flex: 1;
}

.buy-controls div:first-child:hover, 
.buy-controls div:last-child:hover {
  background: lightgray;
}

.buy-controls div::selection {
  background: none;
}

.qty-container {
  background: #fff;
  flex: 1;
}

.items-cantidad {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  font-size: 1em;
  text-align: center;
  color: #000;
  background: #fff;
  width: 100%;
  height: 100%;
  flex: 1;
}

.button {
  margin-left: .5em;
  cursor: pointer;
  background: #000;
  color: #fff;
  line-height: 3rem;
  width: 9rem;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1.1em;
}

.register-form .button {
  margin-top: 2em;
  align-self: flex-end;
}

.button:hover {
  background: var(--green);
}

.icon-close-modal {
  position: absolute;
  top: 5%;
  right: 3%;
  width: .9em;
  cursor: pointer;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  color: #000;
  margin-top: 5em;
  width: 100%;
  padding: 3em;
  border-top: 1px solid lightgray;
}

footer .wrapper {
  position: relative;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer .col {
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

footer .col h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: .5em;
}

footer .col li {
  margin-top: 0.3em 0;
  color: var(--mid-gray);
  cursor: pointer;
}

footer img {
  margin-right: 1rem;
}

.social-media {
  margin: 1em 0;
  display: flex;
}

.social-media * {
  width: 1.5em;
  cursor: pointer;
}

.newsletter-container {
  position: relative;
  display: flex;
  height: 3em;
}

.newsletter-container input[type="text"] {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.newsletter-container input[type="submit"] {
  position: absolute;
  right: 0;
  background: #000;
  color: #fff;
  padding: .5em;
  outline: none;
  border: none;
  border-radius: 0 0 2px 2px;
  height: 100%;
  cursor: pointer;
}

.payments {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.payments div {
  margin-top: .5em;
  display: flex;
}

.payments img {
  width: 2.5em;
  height: 1..5em;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  transition: all .5s;
}

.loading {
  position: relative;
  display: none;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  flex-direction: column;
  z-index: 1;
}

.lds-roller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--green);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.productos {
  min-height: 80vh;
}

.productos .wrapper {
  justify-content: start;
}

.populares .products-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
}

.table {
  margin: 4em auto;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
  border-collapse: collapse;
}

.table th {
  background: rgb(27, 24, 26);
  color: #fff;
  border-bottom: 1px solid lightgray;
  font-weight: 400;
  font-size: 1.1em;
  padding: 1.5em 0;
}

.table td {
  padding: .5em 0;
  color: var(--mid-gray);
  font-size: 1.1em;
  cursor: default;
}

.table td:first-child {
  text-align: center;
}

tbody tr:hover {
  background: #f4f4f4;
}

.table * {
  border-collapse: collapse;
  text-align: left;
}

.table td:last-child {
  text-align: center;
}

.carrito-thumb {
  width: 3.5em;
  height: 3.5em;
}

.btn-delete-product {
  font-size: .9em;
  background: rgb(165, 14, 14);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: .75em 1.3em;
  color: #fff;
  cursor: pointer;
}

.total {
  display: none;
  text-align: right;
  font-weight: medium;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.button-carrito {
  display: none;
  padding: 1.5vw 2vw;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  background: var(--green);
  float: right;
}

.button-carrito:hover {
  transition: all .3s;
  background: darkgoldenrod;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(0, -50%);
  font-size: 2px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .7s infinite linear;
  animation: load8 .7s infinite linear;
}

.error-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.error {
  width: 12em;
}

.error-container div {
  margin: 0 auto;
  width: 80%;
}

.error-container p {
  text-align: center;
}

.visible { display: block; }

.flex { display: flex; }

.block-scroll { overflow-y: hidden; }

.register-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid var(--green);
  border-radius: 1em;
  padding: 2em;
}