/* PHONE */
@media only screen and (max-width: 960px) {
    header {
      width: 100%;
    }

    .header-top {
      width: 95%;
    }

    .header-bottom {
      display: none;
    }

    .logo img {
      height: 2.5em;
    }

    .search-field {
      margin-left: .5em;
    }

    .form-search {
      width: 60%;
      height: 2em;
    }

    .user-panel {
      width: 22vw;
    }

    .user-panel a {
      margin-top: 0;
    }

    .slider-item {
      height: 25vh;
    }

    .banner-container {
      width: 95%;
    }

    .horizontal img {
      width: 30vw;
      height: 20vh;
    }

    .vertical img {
      height: 20vh;
    }

    .ofertas, .populares, .categoria, .busqueda, .carrito {
      width: 95%;
    }

    h2 {
      font-size: 1.25em;
    }

    footer {
      padding: 1em;
    }

    footer .wrapper {
      width: 95%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    footer .col {
      margin-bottom: 2em;
    }

    footer .col h5 {
      font-size: 1em;
    }

    footer .col li {
      font-size: .8rem;
    }

    .modal {
      width: 80%;
      flex-direction: column;
    }

    .buy-panel {
      margin-top: 1em;
      flex-direction: column;
    }

    .buy-panel p {
      text-align: center;
    }

    .buy-controls {
      margin: 0 auto;
    }

    .thumb-big {
      width: 100%;
    }

    .product-info {
      width: 100%;
      height: auto;
    }

    .product-info h1 {
      margin-top: 1em;
      width: 100%;
      font-size: 1.25rem;
    }

    .price {
      margin-top: 1em;
    }

    .procts-container .card {
      display: none;
    }
  }


  @media only screen and (max-width: 1500px) { 
    .menu li {
      flex: 1;
    }

    .slider-item {
      height: 53vh;
    }

    .banner-container img {
      width: 22vw;
      height: 58vh;
    }

    .vertical img {
      width: 100%;
      height: 47vh;
    }

    .card {
      width: 14vw;
    }

    .card-collection {
      grid-template-columns: auto auto auto auto auto;
    }

    .user-panel {
      width: 30%;
    }

    .populares .products-container {
      grid-template-columns: repeat(5, 1fr);
    }

    .login-window {
      width: 30%;
    }
  }