/* PHONE */
@media only screen and (max-width: 960px) {
    header {
      width: 100%;
    }

    .header-top {
      width: 95%;
    }

    .header-bottom {
      display: none;
    }

    .logo img {
      height: 2.5em;
    }

    .search-field {
      margin-left: .5em;
    }

    .form-search {
      width: 60%;
      height: 2em;
    }

    .user-panel {
      width: 22vw;
    }

    .user-panel a {
      margin-top: 0;
    }

    .slider-item {
      height: 25vh;
    }

    .banner-container {
      width: 95%;
    }

    .horizontal img {
      width: 30vw;
      height: 20vh;
    }

    .vertical img {
      height: 20vh;
    }

    .ofertas, .populares, .categoria, .busqueda, .carrito {
      width: 95%;
    }

    h2 {
      font-size: 1.25em;
    }

    footer {
      padding: 1em;
    }

    footer .wrapper {
      width: 95%;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    footer .col {
      margin-bottom: 2em;
    }

    footer .col h5 {
      font-size: 1em;
    }

    footer .col li {
      font-size: .8rem;
    }
  }

  /* TABLET */
  @media only screen and (max-width: 1300px) { }