<div class="categories">
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Granos y semillas</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Bebidas</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Aderezos</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Leches vegetales</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Quesos y fiambres veganos</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Congelados</span>
    </div>
    <div>
        <img src="/img/icon-frost.svg" alt="">
        <span>Cuidado personal</span>
    </div>
</div>