<header>
    <div class="wrapper">
        <div class="logo-container">
            <div class="burger" id="menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a href=".">
                <div class="logo">
                    <img src="/img/logo-green.svg" alt="logo">
                    <span>Green Market</span>
                </div>
            </a>
        </div>
        <div class="searchbox-container">
            <input type="search" class="searchBox" id="search-box" placeholder="Buscar productos">
            <img src="/img/icon-search.svg" alt="search" class="icon-search">
            <div class="search-suggestions" id="search-suggestions">

            </div>
        </div>
        <div class="user-panel">
            <a href="#" class="login">
                <img src="/img/icon-avatar.svg" alt="login">
                <p>Login</p>
            </a>
            <a href="/carrito" class="cart">
                <img src="/img/icon-shopping.svg" alt="carrito">
                <p>Carrito</p>
                <span class="items-counter">2</span>
            </a>
        </div>
    </div>
    
    <script src="/js/Login.js"></script>
</header>