<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/logo-green.svg">
    <title>Error 404</title>
</head>

<body>
    <div style="margin: 0 auto; border: 1px solid blue;">
        <h1 style="font-size: 5em">404</h1>
        <h4 style="font-size: 2em;">Página no encontrada</h4>
        <p>Aparentemente el recurso que solicitó no existe, o no está disponible temporalmente</p>
        <p>Quizás quiera intentar de nuevo más tarde</p>
    </div>

    <%- include('../partials/_loginModal.ejs') %>
    <div class="dark-layer"></div>
</body>
</html>