<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/img/logo-green.svg">
    <title>Green Market — Productos sin ingredientes de origen animal</title>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="main-wrapper">
        <section class="carrito">
            <h2>Carrito de compras</h2>
            
            <p class="msg-carrito" id="msg-carrito">
                No tiene productos en su carrito
                <br><br><a href="./">< Volver</a>
            </p>

            <table class="table" id="table">
                <thead>
                    <th></th>
                    <th>Producto</th>
                    <th>Precio/u.</th>
                    <th>Cantidad</th>
                    <th>Sub-total</th>
                    <th></th>
                </thead>
                <tbody></tbody>
            </table>
            
            <span class="total" id="total"></span>
            <a class="button-carrito" id="button-carrito">Finalizar compra</a>
            
        </section>
    </div>

    <%- include('../partials/footer') %>

    <%- include('../partials/login') %>

    <%- include('../partials/loading') %>

    <div class="mask" id="mask"></div>

    <script src="/js/main.js"></script>
        
    <script defer src="/js/carrito.js"></script>
                
</body>
</html>